<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between gap-1">
        <h4 class="card-title"><%= @post.title %> by <%= @post.author.name %></h4>
        <div class="d-flex gap-1">
          <p class="m-0">Comments: <%= @post.comments_counter %>,</p>
          <p class="m-0">Likes: <%= @post.likes_counter %></p>
        </div>
      </div>
      <p class="mt-2"><%= @post.text %></p>
    </div>
    <% unless @current_user.nil? %>
      <div class="card-footer d-flex justify-content-between">
        <%= render 'shared/like' %>
        <%= link_to 'Delete Post', "/users/#{@current_user.id}/posts/#{@post.id}", class: 'btn btn-danger', data: { turbo_method: :delete } if can? :destroy, @post %>
      </div>
    <% end %>
  </div>
  <%= render 'shared/comments_card', comments: @post.comments unless @post.comments.empty? %>
  <% unless @current_user.nil? %>
    <%= link_to 'Add a new comment', "/users/#{@current_user.id}/posts/#{@post.id}/comments/new", class: "btn btn-primary mt-3" %>
  <% end %>
</div>